## Vamos a analizar los datos de la formula 1
$\textbf{Entregable 3}$

Dulce Maria Barbosa Campos 201946404

Ahora vamos a crear tablas para cada DataBase de nuestra API

In [286]:
import requests
import json
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

# $\textrm{Tabla LapTimes}$

In [287]:
#Primero analizamos Laptimes y que elementos contiene 

url='http://ergast.com/api/f1/2022/5/laps/1.json'
response = requests.get(url.format(2022))
content=json.loads(response.content)
content['MRData']['RaceTable']['Races'][0]['Laps'][0]['Timings'][0].keys()

dict_keys(['driverId', 'position', 'time'])

In [288]:
#Creamos el diccionario

Laptime = {'RaceId':[],
        'DriverId':[],
        'Position':[],
        'Time':[],
       }

In [289]:
#Creamos la función 

for year in range(2010,2023):
    url ='http://ergast.com/api/f1/{}/5/laps/1.json'
    response = requests.get(url.format(year))
    content=json.loads(response.content)
    
    for  i in content['MRData']['RaceTable']['Races'][0]['Laps'][0]['Timings']:
        Laptime['RaceId'].append(content['MRData']['RaceTable']['Races'][0]['raceName'])
        Laptime['DriverId'].append(i["driverId"])
        Laptime['Position'].append(i['position'])
        Laptime['Time'].append(i['time'])

In [290]:
pd.DataFrame(Laptime).head()

               RaceId  DriverId Position      Time
0  Spanish Grand Prix    webber        1  1:31.460
1  Spanish Grand Prix    vettel        2  1:32.211
2  Spanish Grand Prix  hamilton        3  1:33.114
3  Spanish Grand Prix    alonso        4  1:33.939
4  Spanish Grand Prix    button        5  1:34.658

In [291]:
#Creamos el archivo csv

pd.DataFrame(Laptime).to_csv('Laptimes.csv', index=False)

# $\textrm{Tabla DriverStandings}$

In [292]:
#Primero analizamos DriverStandings y que elementos contiene 

url='http://ergast.com/api/f1/2022/5/driverStandings.json'
response = requests.get(url.format(2022))
content=json.loads(response.content)
content['MRData']['StandingsTable']['StandingsLists'][0]['DriverStandings'][0].keys()

dict_keys(['position', 'positionText', 'points', 'wins', 'Driver', 'Constructors'])

In [293]:
#Creamos el diccionario

DriverStandings = {'DriverId':[],
        'Position':[],
        'PositionText':[],
        'Points':[],
        'Wins':[],
       }

In [294]:
#Creamos la función 

for year in range(2010,2023):
    url ='http://ergast.com/api/f1/{}/driverStandings.json'
    response = requests.get(url.format(year))
    content=json.loads(response.content)
    
    for  i in content['MRData']['StandingsTable']['StandingsLists'][0]['DriverStandings']:
        DriverStandings['DriverId'].append(i['Driver']["driverId"])
        DriverStandings['Position'].append(i['position'])
        DriverStandings['PositionText'].append(i['positionText'])
        DriverStandings['Points'].append(i['points'])
        DriverStandings['Wins'].append(i['wins'])

In [295]:
pd.DataFrame(DriverStandings).head()

   DriverId Position PositionText Points Wins
0    vettel        1            1    256    5
1    alonso        2            2    252    5
2    webber        3            3    242    4
3  hamilton        4            4    240    3
4    button        5            5    214    2

In [296]:
#Creamos el archivo csv
pd.DataFrame(DriverStandings).to_csv('DriverStandings.csv', index=False)

# $\textrm{Tabla ConstructorStandings}$

In [297]:
#Primero analizamos ConstructorsStandings y que elementos contiene 

url='http://ergast.com/api/f1/2022/5/constructorStandings.json'
response = requests.get(url.format(2022))
content=json.loads(response.content)
content['MRData']['StandingsTable']['StandingsLists'][0]['ConstructorStandings'][0].keys()

dict_keys(['position', 'positionText', 'points', 'wins', 'Constructor'])

In [298]:
#Creamos el diccionario

ConstructorStandigs = {'ConstructorId':[],
                       'Position':[],
                       'PositionText':[],
                       'Points':[],
                       'Wins':[],
                      }

In [299]:
#Creamos la función 

for year in range(2010,2023):
    url ='http://ergast.com/api/f1/{}/constructorStandings.json'
    response = requests.get(url.format(year))
    content=json.loads(response.content)
    
    for  i in content['MRData']['StandingsTable']['StandingsLists'][0]['ConstructorStandings']:
        ConstructorStandigs['ConstructorId'].append(i['Constructor']['constructorId'])
        ConstructorStandigs['Position'].append(i['position'])
        ConstructorStandigs['PositionText'].append(i['positionText'])
        ConstructorStandigs['Points'].append(i['points'])
        ConstructorStandigs['Wins'].append(i['wins'])

In [300]:
pd.DataFrame(ConstructorStandigs).head()

  ConstructorId Position PositionText Points Wins
0      red_bull        1            1    498    9
1       mclaren        2            2    454    5
2       ferrari        3            3    396    5
3      mercedes        4            4    214    0
4       renault        5            5    163    0

In [301]:
#Creamos el archivo csv

pd.DataFrame(ConstructorStandigs).to_csv('ConstructorStandigs.csv', index=False)

# $\textrm{Tabla ConstructorResults}$

In [302]:
#Dado que no hay un link vamos a analizar constructors

url='http://ergast.com/api/f1/2022/results.json'
response = requests.get(url.format(2022))
content=json.loads(response.content)
content['MRData']['RaceTable']['Races'][0]['Results'][0][ 'Constructor'].keys()
content['MRData']['RaceTable']['Races'][0]['Results'][0].keys()

dict_keys(['number', 'position', 'positionText', 'points', 'Driver', 'Constructor', 'grid', 'laps', 'status', 'Time', 'FastestLap'])

In [303]:
#Creamos el diccionario
ConstructorResults= {'RaceId':[],
                     'ConstructorId':[],
                     'Points':[],
                     'Status':[],
                    }

In [304]:
#Creamos la función 

for year in range(2010,2023):
    url ='http://ergast.com/api/f1/{}/results.json'
    response = requests.get(url.format(year))
    content=json.loads(response.content)
    
    for  i in content['MRData']['RaceTable']['Races'][0]['Results']:
        ConstructorResults['RaceId'].append(content['MRData']['RaceTable']['Races'][0]['raceName'])
        ConstructorResults['ConstructorId'].append(i['Constructor']['constructorId'])
        ConstructorResults['Points'].append(i['points'])
        ConstructorResults['Status'].append(i['status'])
        
    for  i in content['MRData']['RaceTable']['Races'][1]['Results']:
        ConstructorResults['RaceId'].append(content['MRData']['RaceTable']['Races'][1]['raceName'])
        ConstructorResults['ConstructorId'].append(i['Constructor']['constructorId'])
        ConstructorResults['Points'].append(i['points'])
        ConstructorResults['Status'].append(i['status'])

In [308]:
pd.DataFrame(ConstructorResults).head()

               RaceId ConstructorId Points    Status
0  Bahrain Grand Prix       ferrari     25  Finished
1  Bahrain Grand Prix       ferrari     18  Finished
2  Bahrain Grand Prix       mclaren     15  Finished
3  Bahrain Grand Prix      red_bull     12  Finished
4  Bahrain Grand Prix      mercedes     10  Finished

In [309]:
#Creamos el archivo csv

pd.DataFrame(ConstructorResults).to_csv('ConstructorResults.csv', index=False)