## Vamos a analizar los datos de la formula 1
$\textbf{Entregable 1}$

Dulce Maria Barbosa Campos 201946404

Ahora vamos a crear tablas para cada DataBase de nuestra API

In [1]:
import requests
import json
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

Después de importar las paqueterias creamos cada tabla

# $\textrm{Tabla Drivers}$

In [94]:
#Primero analizamos el drivers y que elementos contiene la lista

url='http://ergast.com/api/f1/drivers.json'
response = requests.get(url.format(2022))
content=json.loads(response.content)
content['MRData'][ 'DriverTable']['Drivers'][0].keys()

dict_keys(['driverId', 'url', 'givenName', 'familyName', 'dateOfBirth', 'nationality'])

In [100]:
#Creamos el diccionario que guarde 
drivers = {'driverId':[],
        'GivenName':[],
        'FamilyName':[],
        'DateOfBirth':[],
        'Nationality':[],
        'url':[]
       }

In [101]:

for year in list(range(2010,2023)):
    url ='http://ergast.com/api/f1/drivers.json'
    response = requests.get(url.format(year))
    
    content = json.loads(response.content)
        
    for i in content['MRData']['DriverTable']['Drivers']:
        drivers['driverId'].append(i['driverId'])
        drivers['GivenName'].append(i['givenName'])
        drivers['FamilyName'].append(i['familyName'])
        drivers['DateOfBirth'].append(i['dateOfBirth'])
        drivers['Nationality'].append(i['nationality'])
        drivers['url'].append(i['url'])

In [102]:
pd.DataFrame(drivers).head()

,driverId,GivenName,FamilyName,DateOfBirth,Nationality,url
0,abate,Carlo,Abate,1932-07-10,Italian,http://en.wikipedia.org/wiki/Carlo_Mario_Abate
1,abecassis,George,Abecassis,1913-03-21,British,http://en.wikipedia.org/wiki/George_Abecassis
2,acheson,Kenny,Acheson,1957-11-27,British,http://en.wikipedia.org/wiki/Kenny_Acheson
3,adams,Philippe,Adams,1969-11-19,Belgian,http://en.wikipedia.org/wiki/Philippe_Adams
4,ader,Walt,Ader,1913-12-15,American,http://en.wikipedia.org/wiki/Walt_Ader

In [58]:
#Lo importamos a formato csv
pd.DataFrame(drivers).to_csv('Drivers.csv', index=False)

# $\textrm{Tabla Constructors}$

In [38]:
#Primero analizamos constructors y que elementos contiene 

url='http://ergast.com/api/f1/constructors.json'
response = requests.get(url.format(2022))
content=json.loads(response.content)
content['MRData'][ 'ConstructorTable']['Constructors'][0].keys()

dict_keys(['constructorId', 'url', 'name', 'nationality'])

In [42]:
#Creamos el diccionario 
constructors = {'ConstructorId':[],
        'Name':[],
        'Nationality':[],
        'url':[]
       }

In [43]:
for year in list(range(2010,2023)):
    url ='http://ergast.com/api/f1/constructors.json'
    response = requests.get(url.format(year))
    
    content = json.loads(response.content)
        
    for i in content['MRData']['ConstructorTable']['Constructors']:
        constructors['ConstructorId'].append(i['constructorId'])
        constructors['Name'].append(i['name'])
        constructors['Nationality'].append(i['nationality'])
        constructors['url'].append(i['url'])

In [45]:
pd.DataFrame(constructors).head()

,ConstructorId,Name,Nationality,url
0,adams,Adams,American,http://en.wikipedia.org/wiki/Adams_(constructor)
1,afm,AFM,German,http://en.wikipedia.org/wiki/Alex_von_Falkenha...
2,ags,AGS,French,http://en.wikipedia.org/wiki/Automobiles_Gonfa...
3,alfa,Alfa Romeo,Swiss,http://en.wikipedia.org/wiki/Alfa_Romeo_in_For...
4,alphatauri,AlphaTauri,Italian,http://en.wikipedia.org/wiki/Scuderia_AlphaTauri

In [47]:
#Lo importamos a formato csv
pd.DataFrame(constructors).to_csv('Constructors.csv', index=False)

# $\textrm{Tabla Circuits}$

In [85]:
#Primero analizamos constructors y que elementos contiene 

url='http://ergast.com/api/f1/circuits.json'
response = requests.get(url.format(2022))
content=json.loads(response.content)
content['MRData']['CircuitTable']['Circuits'][0].keys()

dict_keys(['circuitId', 'url', 'circuitName', 'Location'])

In [88]:
#Creamos el diccionario
circuits = {'CircuitId':[],
        'CircuitName':[],
        'Lat':[],
        'Long':[],
        'Locality':[],
        'Country':[],
        'url':[]
       }

In [89]:
#Creamos la funcion 

for year in list(range(2010,2023)):
    url ='http://ergast.com/api/f1/circuits.json'
    response = requests.get(url.format(year))
    
    content = json.loads(response.content)
        
    for i in content['MRData']['CircuitTable']['Circuits']:
        circuits['CircuitId'].append(i['circuitId'])
        circuits['CircuitName'].append(i['circuitName'])
        circuits['Lat'].append(i['Location']['lat'])
        circuits['Long'].append(i['Location']['long'])
        circuits['Locality'].append(i['Location']['locality'])
        circuits['Country'].append(i['Location']['country'])
        circuits['url'].append(i['url'])

In [90]:
pd.DataFrame(circuits).head()

,CircuitId,CircuitName,Lat,Long,Locality,Country,url
0,adelaide,Adelaide Street Circuit,-34.9272,138.617,Adelaide,Australia,http://en.wikipedia.org/wiki/Adelaide_Street_C...
1,ain-diab,Ain Diab,33.5786,-7.6875,Casablanca,Morocco,http://en.wikipedia.org/wiki/Ain-Diab_Circuit
2,aintree,Aintree,53.4769,-2.94056,Liverpool,UK,http://en.wikipedia.org/wiki/Aintree_Motor_Rac...
3,albert_park,Albert Park Grand Prix Circuit,-37.8497,144.968,Melbourne,Australia,http://en.wikipedia.org/wiki/Melbourne_Grand_P...
4,americas,Circuit of the Americas,30.1328,-97.6411,Austin,USA,http://en.wikipedia.org/wiki/Circuit_of_the_Am...

In [91]:
#Lo importamos a formato csv
pd.DataFrame(circuits).to_csv('Circuits.csv', index=False)

# $\textrm{Tabla Qualifying}$

In [111]:
#Primero analizamos qualifying results y que elementos contiene 

url='http://ergast.com/api/f1/qualifying.json'
response = requests.get(url.format(2022))
content=json.loads(response.content)
content['MRData']['RaceTable']['Races'][0]['QualifyingResults'][0].keys()

dict_keys(['number', 'position', 'Driver', 'Constructor', 'Q1'])

In [117]:
#Vamos a crear el diccionario

qualifying = {'driverId':[],
        'constructorId':[],
        'number':[],
        'position':[],
       }

In [118]:
#La función es

for year in list(range(2010,2023)):
    url ='http://ergast.com/api/f1/qualifying.json'
    response = requests.get(url.format(year))
    
    content = json.loads(response.content)
        
    for i in content['MRData']['RaceTable']['Races'][0]['QualifyingResults']:
        qualifying['driverId'].append(i['Driver']['driverId'])
        qualifying['constructorId'].append(i['Constructor']['constructorId'])
        qualifying['number'].append(int(i['number']))
        qualifying['position'].append(int(i['position']))

In [119]:
pd.DataFrame(qualifying).head()

             driverId constructorId  number  position
0               senna      williams       2         1
1  michael_schumacher      benetton       5         2
2               alesi       ferrari      27         3
3          damon_hill      williams       0         4
4            frentzen        sauber      30         5

In [120]:
#Creamos el archivo CSV

pd.DataFrame(qualifying).to_csv('Qualifying.csv', index=False)